.user {
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thumbnail {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-right: 10px;
}

.interact {

}

.interactButtons {
    width: 55px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.likes {
    display: flex;
    margin-top: 20px;
}

i {
    font-size: 20px;
    cursor: pointer;
}